%form{:method =>"post", :action=>"/"}
  %table
    %thead
      %tr
      -@items.first.keys.each do |key|
        %td= key
    %tbody
      -for item in @items
        %tr
          -item.each_value do |value|
            %td= value
  %input{:type=>"submit", :value=>"Starta bildspel"}
