.item{:id => "#{item.id}"}
  %span.left
    %img{:src => "/images/delete.png", :onclick=>"removeItem(#{item.id})", :alt => "Ta bort #{item.name}"} 
  %span.center
    =item.name
  %span.right
    =item.price
    =":-"
