!!!
%head
  %title Kröken
  %link(rel="stylesheet" href="/css/style.css")
  %link(rel="stylesheet" href="/css/1140.css")
  %script{:type=>"text/javascript",:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js")
%body
  =yield
