#slides
  -(@items.length/10.0).ceil.times do
    %span.slide
      -for page_item in @items.shift(10)
        %span.left #{page_item.name.capitalize} 
        %span.right  #{page_item.price}:- 
        %br
%script{:type=>'text/javascript',:src=>"/scripts/jquery.cycle.all.min.js"}
:javascript
  $(function() {
    var slides = $("#slides");
    slides.children().hide();
    slides.cycle({
      fx: 'scrollLeft',
      speed: 1500,
      timeout: 10000
    })
  });
