#slides {
	background-filter:invert;
	font-size: 200%;
  height:1200px;
}

#slides .left {
  padding-left:5%;
}

#slides .right {
  width:20%;
  text-align:left;
  float:right;
}

.spacing {
	font-size: 220%;
	min-height: 30px;
	text-align: center;
	text-decoration:underline;
}
