body {
  width:100%;
  margin:0;
}

#slide_body {
  margin:0;
  background-color:black;
  color:white;
  font-family:sans-serif;
  font-size:300%;
  line-height:150%;
  height:1920px;
  width:1080px;
}

#slides {
  height:1200px;
}

.slide {
  background-image:url('/images/logo.png');
  background-repeat:no-repeat;
  background-position: 15px 15px;
  margin: 0 auto;
  height:1000px;
  width:1064px;
  padding-top: 180px;
  border: 8px solid white;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.slide .left {
  padding-left:12%;
}
.slide .right {
  width:20%;
  text-align:left;
  float:right;
}

#imagefield {
  margin-top:10%;
  text-align:center;
}
#imagefield h1{
  text-decoration: underline;
}
#imagefield .left{
  float:left;
  margin-top:180px;
  margin-left:210px;
}
#imagefield .right{
  margin-left:85px;
  float:left;
}

#page {
  width:50%;
  margin: 0 auto;
}

#items {
  border: 3px solid black;
  border-radius: 15px;
  width:100%;
}

.item {
  border-bottom: 1px solid black;
  padding:5px;
}
.priceGroup {
	margin-top: 35px;
}

.pdf_left {
	float:left;
}

.pdf_right {
	float:left;
	margin-left:60%;
}

